{% extends "base.html" %}

{% block content %}
<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Learn Irregular Verbs</button>
    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Add Irregular Verb</button>
    <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false" disabled>Disabled</button>
    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Statistics</button>
    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">All Irregular Verbs</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
        
        <form method="get" action="/add_verb">
            <h1 class="h3 mb-3 fw-normal">Please add a irregular verb</h1>

            {% for cat, msg in get_flashed_messages(True) %}
            <div class="alert {{ cat }}">{{ msg }}</div>
            {% endfor %}
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" name="translation" placeholder="Translation" aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="verb1" placeholder="Verb1" aria-label="Verb1">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="verb2" placeholder="Verb2" aria-label="Verb2">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="verb3" placeholder="Verb3" aria-label="Verb3">
              </div>
              <div class="col">
                <button class="btn btn-primary w-100" type="submit">Add verb</button>
              </div>
            </div>
          </form>
    </div>
    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
  </div>
</div>
{% endblock %}